.nested-fields
  = f.collection_select :person_type_id, PersonType.all, :id, :name
  = f.fields_for :person do |pf|
    = pf.collection_select :id, Person.all, :id, :name, {}, class: "person-name-select"
    = pf.text_field :name, class: "person-name-text", style: "display:none;", value: nil
    = pf.date_field :birthdate
  = link_to_remove_association "Remove Person", f, class: "btn btn-secondary btn-sm", data: {confirm: "Are you sure you want to remove this person?"}
  %button.btn.btn-link.btn-sm{ type: 'button', data: { add_person: true } } Add New Person
%br
