- if @film.filmshot.attached?
  = content_for :background_image, rails_blob_url(@film.filmshot)
  .container
    %h1.white= "Edit #{@film.title}'s Details"
    %br
    = link_to "Back to Film", film_path(@film), class: "btn btn-secondary"
    .film-edit-container
      = form_for @film do |f|
        = error_messages_for(@film)
        %h3.white
          Title:
          = f.text_field :title, required: true, autofocus: true
        %br
        %h3.white Description:
        = f.trix_editor :description, required: true, autofocus: true
        %br
        %h5.white
          MPAA Rating:
          = f.select :mpaa_rating, Film::MPAARatings
        %br
        %h5.white
          Runtime (in minutes):
          = f.text_field :run_time
          = @film.format_runtime
        %br
        %h5.white
          Release Date:
          = f.date_select :release_date
          = @film.format_releasedate
        %br
        %h5.white
          Genres:
          = f.collection_select :genre_ids, Genre.all, :id, :name, {}, {multiple: true, data: { select2: true } }
        %br
        %h5.white
          Background shot:
          = f.file_field :filmshot
        %br
        %h5.white
          Movie Poster:
          = f.file_field :movie_poster
        %br
        - if @film.film_people.any?
          = f.fields_for :film_people, @film.film_people do |fpf|
            = fpf.collection_select :person_id, Person.all, :id, :name
            = fpf.collection_select :person_type_id, PersonType.all, :id, :name
            %br
          = link_to "Add a person", film_path, class: "btn btn-secondary btn-sm"
          -# select person from dropdown, and persontypes

        .row
          %ul.film-info-list
            -# - form_for @film.film_people.each do |film_person|
            -#   %li
            -#     %span.film-info-badge
            -#       ="#{film_person.person_type.name}"
            -#       film_person.text_field :film_people
            -# - form_for @film.film_classifications do |classification|
            -#   %li
            -#     %span.film-info-badge
            -#       ="#{classification.classification.name}"
            -#       classification.text_field :film_classifications

        -#
        -# .row
        -#   %ul.film-info-list
        -#     - @film.film_people.each do |film_person|
        -#       %li
        -#         %span.film-info-badge= "#{film_person.person_type.name}: #{film_person.person.name}"
        -#     - @film.film_classifications.each do |classification|
        -#       %li
        -#         %span.film-info-badge= "#{classification.classification.name}: #{classification.value}"

        .text-center
          = f.submit "submit changes", class: "btn btn-secondary"
