- if @film.filmshot.attached?
  = content_for :background_image, rails_blob_url(@film.filmshot)
  .container
    %h1.white= "Edit #{@film.title}'s Details"
    %br
    = link_to "Back to Film", film_path(@film), class: "btn btn-secondary"
    .film-edit-container
      = render 'form'
      -# = form_for @film do |f|
      -#   = error_messages_for(@film)
      -#   %h3.white
      -#     = f.label :title
      -#     = f.text_field :title, required: true, autofocus: true
      -#   %br
      -#   %h3.white
      -#     = f.label :description
      -#     = f.trix_editor :description, required: true, autofocus: true
      -#   %br
      -#   %h5.white
      -#     = f.label :mpaa_rating
      -#     = f.select :mpaa_rating, Film::MPAARatings
      -#   %br
      -#   %h5.white
      -#     = f.label :run_time
      -#     = f.text_field :run_time
      -#     = @film.format_runtime
      -#   %br
      -#   %h5.white
      -#     = f.label :release_date
      -#     = f.date_select :release_date
      -#     = @film.format_releasedate
      -#   %br
      -#   %h5.white
      -#     = f.label :genres
      -#     = f.collection_select :genre_ids, Genre.all, :id, :name, {}, {multiple: true, data: { select2: true } }
      -#   %br
      -#   %h5.white
      -#     = f.label :filmshot
      -#     = f.file_field :filmshot
      -#   %br
      -#   %h5.white
      -#     = f.label :movie_poster
      -#     = f.file_field :movie_poster
      -#   %br
      -#   - if @film.film_people.any?
      -#     = f.fields_for :film_people, @film.film_people do |fpf|
      -#       = fpf.collection_select :person_id, Person.all, :id, :name
      -#       = fpf.collection_select :person_type_id, PersonType.all, :id, :name
      -#       = link_to_remove_association "Remove Person", f, class: "btn btn-secondary btn-sm"
      -#         -# = render 'person_fields', f: fpf
      -#       %br
      -#       = link_to_add_association "Add Person", f, :film_people, class: "btn btn-secondary btn-sm"
      -#
      -#   %br
      -#   %br
      -#   - if @film.film_classifications.any?
      -#     = f.fields_for :film_classifications, @film.film_classifications do |fcf|
      -#       = fcf.collection_select :classification_id, Classification.all, :id, :name
      -#       = fcf.text_field :value
      -#       = link_to_remove_association "Remove Classification", f, class: "btn btn-secondary btn-sm"
      -#       -# = render 'classification_fields', f: fcf
      -#       %br
      -#       = link_to_add_association "Add Classification", f, :film_classifications, class: "btn btn-secondary btn-sm"
      -#
      -#   .text-center
      -#     = f.submit "submit changes", class: "btn btn-secondary"
