.container

  .homepage
    %h2 Catalog

    = form_tag url_for, method: :get do
      = label_tag 'Search '
      = text_field_tag :q

    -# = form_for :q do |f|
    -#   = label_tag 'Sort By'
    -#   = f.select :q, Film::SortBy, {}, {class: 'form-control js-example-basic-single', style: "width: 10rem;"}
    -#   = f.submit

  %br
  %br
  .row
    - @films.order(title: :asc).each do |film|
      .col-12.col-sm-6.col-md-4
        .card.mb-4
          - if film.movie_poster.attached?
            =image_tag film.movie_poster, {class: "card-img-top img-fluid", height: 500, width: "auto"}
          - else
            =image_tag "Empirestrikesback.jpg", {class: "card-img-top", height: 500, width: "auto"}
          .card-body
            %h4.card-title= "#{film.title} (#{film.year})"
            %h5.card-subtitle
              =image_rating(film,true)
              ="#{film.format_runtime} - #{film.genre_list}"
            .text-center
              = link_to "More about #{film.title}", film_path(film), class: "btn btn-secondary"
  .text-center
    - if user_signed_in?
      = link_to "Add New Film", new_film_path, class: "btn btn-primary"
