.container
  .homepage
    %h2 Catalog
  .search
    = search_form_for @q do |f|
      Search by Title:
      = f.search_field :title_or_mpaa_rating_cont
      = f.submit

  .row
    - @movies.each do |film|
      .col-12.col-sm-6.col-md-4
        .card.mb-4
          - if film.movie_poster.attached?
            =image_tag film.movie_poster, {class: "card-img-top img-fluid", height: 500, width: "auto"}
          - else
            =image_tag "Empirestrikesback.jpg", {class: "card-img-top", height: 500, width: "auto"}
          .card-body
            %h4.card-title= "#{film.title} (#{film.year})"
            %h5.card-subtitle
              =image_rating(film,true)
              ="#{film.format_runtime} - #{film.genre_list}"
            .text-center
              = link_to "More about #{film.title}", film_path(film), class: "btn btn-secondary"
