%h2 Catalog

.row
  - @films.each do |film|
    .col-sm-4
      .card.border-primary.mb-6{:style => "width: 25rem;"}
        =image_tag "Empirestrikesback.jpg", {class: "card-img-top", height: 500, width: "auto"}
        .card-body
          %h4.card-title= "#{film.title} (#{film.year})"
          %h5.card-subtitle
            =image_tag 'PG.png', {height: 24}
            =film.format_runtime
          %p.card-text= film.description
          .text-center
            = link_to "More about #{film.title}", film_path(film), class: "btn btn-secondary"
