- if @film.filmshot.attached?
  .background{ style: "position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.25; z-index: -999;" }
    =image_tag @film.filmshot, {width: "90%"}
  .container
    %h6= @film.title
    .row
      .col-12.col-md-4
        - if @film.movie_poster.attached?
          =image_tag @film.movie_poster, {class: "card-img-top img-fluid", height: 400, width: "auto"}
      .col-md-8
        %h3
          = image_rating(@film,false)
          = "#{@film.format_runtime} | "
          = @film.format_releasedate
        %h3= "#{@film.genre_list}"
        .film_description
          %p= @film.description
        %ul.film-info-list
          - @film.film_people.each do |film_person|
            %li
              %span.film-info-badge= "#{film_person.person_type.name}: #{film_person.person.name}"
          - @film.film_classifications.each do |classification|
            %li
              %span.film-info-badge= "#{classification.classification.name}: #{classification.value}"
    %h6 Reviews
    %br
    .col-md-8
      - @film.reviews.each do |review|
        .card.card-mb-8
          .card-body
            %h4.card-title= "#{review.user.email}'s Review"
            %h5.card-subtitle= sanitize(review.description)
            %br
            - if review.user == current_user
              = link_to "Edit", edit_film_review_path(@film,review), class: "btn btn-secondary"
            - if current_user.admin
              = link_to "Delete", film_review_path(@film,review), method: :delete, data: { confirm: "Are you sure you want to delete #{review.user.email}'s Review"}, class: "btn btn-secondary"
        %br
      %br
      - if current_user.has_review_for_film?(@film) == false
        = link_to "Add a Review", new_film_review_path(@film), class: "btn btn-secondary"
    .bottom-page-padding
