= form_for [@film, @review] do |f|
  = error_messages_for(@review)
  Rating (out of 20):
  = f.text_field :rating, required: true, autofocus: true
  %br
  %br
  = f.trix_editor :description, required: true, autofocus: true
  %br
    = f.submit "submit", class: "btn btn-secondary btn-sm"
    - if @review.persisted?
      = link_to "Delete", film_review_path(@film,@review), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }, class: "btn btn-secondary btn-sm"
    = link_to "back to #{@film.title}", film_path(@film), class: "btn btn-secondary btn-sm"
